<div class="container">
  {{#each model as |record|}}
  <div class="row">
    <div class="col-md-2">
      <img src="{{record.image_url}}" alt="{{record.name}}" class="img-thumbnail" height="100%" width ="100%">
    </div>
    <div class="col-md-6">
      <h3><strong>{{record.name}}</strong></h3>
      <h5>{{record.location.display_address}}</h5>
      <h5>Rating : {{record.rating}}</h5>
      <h5>Price : {{record.price}}</h5>
      <h5>Contact : {{record.phone}}</h5>

      </div>
  </div>
  {{/each}}

</div>
